@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Yusei+Magic&display=swap');

body {
    font-family: "Sawarabi Gothic", Roboto, system-ui, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #8EF9F3;
}

.hero {
    background-color: #171738;
    padding: 0px 200px 150px 200px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    margin: auto;
    margin-bottom: 100px;
    max-width: 1200px;
}

.logo {
    color: #8EF9F3;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: NONE;
}

.text {
    color: #FFD9CE;
    font-size: 18px;
    margin: 0;
}

h1 {
    color: #8EF9F3;
    font-size: 48px;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 900;
}

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container-main {
    width: 450px;
}

.hero-img {
    background-color: #593C8F;
    background-image: url("https://images.unsplash.com/photo-1545569341-9eb8b30979d9?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    min-width: 200px;
    max-width: 525px;
    padding: 0px 50px;
}

.button {
    background-color: #DB5461;
    border: none;
    color: #8EF9F3;
    padding: 8px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
}

.section-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #171738;
    margin: 48px 0;
}

.container-info {
    display: flex;
    margin: auto;
    gap: 48px;
    flex-wrap: wrap;
    padding: 50px;
}

.info {
    width: 175px;
}

.info img {
    height: 165px;
    width: 165px;
    border: 4px solid #DB5461;
    border-radius: 10px;
}

.info .text {
    color: #593C8F
}

.section-quote {
    background-color: #FFD9CE;
    padding: 100px 0;
    color: #171738;
}

.container-quote {
    max-width: 900px;
    margin: auto;
    padding: 0px 50px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.quote-author {
    text-align: end;
    margin: 0;
    margin-right: 25px;
    font-size: 24px;
    font-weight: 900;
}

.section-signup {
    max-width: 1000px;
    margin: auto;
    padding: 100px;
}

.container-signup {
    background-color: #DB5461;
    padding: 50px 125px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-signup {
    margin-right: 20px;
}

.text-signup strong {
    display: block;
    font-size: 24px;
    color: #8EF9F3;
    margin-bottom: 4px;
}

.button-signup {
    border: 2px solid #8EF9F3;
    margin: 0;
}

footer {
    background-color: #171738;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #8EF9F3;
    font-size: 18px;
}