body {
    font-family: Roboto, system-ui, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.hero {
    background-color: #1F2937;
    padding: 0px 200px 150px 200px;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    margin-bottom: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: NONE;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 900;
}

.main {
    display: flex;
    gap: 50px;
}

.container-main {
    width: 450px;
}

.hero-img {
    background-color: #6e747d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
}

.section-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

h2 {
    font-size: 32px;
    font-weight: 900;
    color: #1F2937;
    margin: 48px 0;
}

.container-info {
    display: flex;
    margin: auto;
    gap: 48px;
    flex-wrap: wrap;
}

.info {
    width: 175px;
}

.info img {
    height: 165px;
    width: 165px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.info .text {
    color: #6e747d
}

.section-quote {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}